################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BodyLifeSkillsPlatform.iOS
/App/bin/iPhoneSimulator/Debug
/App/obj
/.vs/BLS-App
/Cloud/.vs/BodyLifeSkillsPlatform.Cloud
/Cloud/bin
/Cloud/Exports
/Cloud/obj
/Cloud/packages
/BLS.Server/obj
/.vs/ProjectEvaluation
/BLS.CloudError2024-01-31.log
/Miscellaneous FilesError2024-01-31.log
/BLS.Server/bin/Debug/net8.0
/BLS.Server/bin/Release/net8.0
/BLS.Server/publish
/BLS.Server/Properties/PublishProfiles
/App/bin
/BLS.Server/app.log
