################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BodyLifeSkillsPlatform.iOS
/App/bin/iPhoneSimulator/Debug
/App/obj
