<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>InProduction</key>
	<true/>
	<key>productionAppKey</key>
	<string>oS8pbJlvSHiR-HLopm_0JQ</string>
	<key>productionAppSecret</key>
	<string>wKqJi5rUSw6DRL9MurpgjA</string>
	<key>useWKWebView</key>
	<true/>
	<key>developmentAppKey</key>
	<string>oS8pbJlvSHiR-HLopm_0JQ</string>
	<key>developmentAppSecret</key>
	<string>wKqJi5rUSw6DRL9MurpgjA</string>
</dict>
</plist>
